<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="MidpointFinder"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value=" code=MidpointFinder.class"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="cs106a-hw1-karel"/>
</launchConfiguration>
